.carouselControl{
    width: 170px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
}

.carouselControl > img{
    cursor: pointer;
}

.carouselCounter{
    font-family: PT Sans Caption;
    font-size: 18px;
    line-height: 23px;

    color: #364844;
}